{{ define "main" -}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{- template "head" . }}
</head>
<body>
{{- template "body" . }}
</body>
</html>
{{- end }}
{{- define "head" }}
  <title>TODO</title>
{{ end }}
{{- define "body" }}
  <p>TODO</p>
{{ end }}
